
@{
    ViewData["Title"] = "SlrKamera";
}


<div class="col-md-9">
    <div class="card ">
        <div class="card-header">
            SLR KAMERA
        </div>
        <img class="card-img-top" src="~/img/3907509.jpg" alt="Analog Fotoğraf">

        <div class="card-block">
            <h4 class="card-title">SLR KAMERA</h4>
            <p class="card-text">Fotoğraf makineleri birçok kategoriye ayrılsa da temelde objektifi değiştirilenler ve değiştirilemeyenler olarak sınıflandırılır. SLR kameralar ise objekktifi değiştirilen kameralardan sayılır.</p>
            <a href="/Products1" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>



