
@{
    ViewData["Title"] = "Analog Fİlmler";
}


<div class="col-md-9">
    <div class="card ">
        <div class="card-header">
            ANALOG FİLMLER
        </div>
        <img class="card-img-top" src="~/img/film0.jpg" alt="Analog Film">

        <div class="card-block">
            <h4 class="card-title">Analog Filmler</h4>
            <p class="card-text">Film en basit şekliyle fotoğrafı çektiğimiz an, perdenin açılmasıyla birlikte ışığın yansıyıp görüntüyü oluşturduğu, kimyasallardan ve katmanlardan oluşan yaprak parçasıdır diyebiliriz.</p>
            <a href="/Products1" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>




