
@{
    ViewData["Title"] = "Photos";
}


<div class="col-md-9">
    <div class="card ">
        <div class="card-header">
            Araba Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/386x256x2.jpg" alt="Analog Fotoğraf">

        <div class="card-block">
            <p class="card-text">Analog kamera ile çekilmiş bir araba fotoğrafı</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Şehir Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Gökyüzünden analog kamerayla çekilmiş bir şehir</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Sokak Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/256x256x2 (1).jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Sokakta çekilmiş bir analog fotoğraf</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Yol Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/256x256x2.jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text"> Analog kamera ile çekilmiş bir yol fotoğrafı.</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Karanlıktaki Işık
        </div>
        <img class="card-img-top" src="~/img/383x256x2.jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Karanlıkta çekilmiş bir ışığın analog fotoğrafı.</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Şehrin Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/386x256x2 (1).jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Bir şehrin manzarasının analog kamera ile çekilmiş fotoğrafı</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
          Araba Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/386x256x2 (2).jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Bir arabanın analog kamera ile çekilmiş fotoğrafı</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Çiçek Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/386x256x2 (3).jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Çiçeklerin güzel renginin analog fotoğrafı</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Doğa Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/394x256x2.jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Doğanın güzel renklerinin analog kamera ile çekilmiş hali</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Bina Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/408x256x2.jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Analog kamera ile çekilmiş bir bina fotoğrafı</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Bina Fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/532x256x2.jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Filmin içinden çekilmiş bir binanın analog fotoğrafı</p>

        </div>
    </div>
    <div class="card mt-2">
        <div class="card-header">
            Çiftlik fotoğrafı
        </div>
        <img class="card-img-top" src="~/img/609x256x2.jpg" alt="Card image cap">

        <div class="card-block">
            
            <p class="card-text">Çiftlik ve atların analog kamera ile çekilmiş bir fotoğrafı </p>

        </div>
    </div>
</div>
    

