
@{
    ViewData["Title"] = "List";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Kategori
                </a>
                <a href="#" class="list-group-item list-group-item-action">Araba fotoğrafı</a>
                <a href="#" class="list-group-item list-group-item-action">Doğa Fotoğrafı</a>
                <a href="#" class="list-group-item list-group-item-action">İnsan Fotoğrafı</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Bina Fotoğrafı</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card ">
                <div class="card-header">
                    Featured
                </div>
                <img class="card-img-top" src="~/img/386x256x2.jpg" alt="Card image cap">

                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    Featured
                </div>
                <img class="card-img-top" src="~/img/386x256x2 (2).jpg" alt="Card image cap">

                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    Featured
                </div>
                <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">

                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    Featured
                </div>
                <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">

                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>


