@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = Localizer["Privacy"]; }


<h1> @Localizer["Privacy"]</h1>

<p1>
    @Localizer["GİZLİLİK VE GÜVENLİK POLİTİKASI"] 
</p1>
<p>  @Localizer["Explain"]</p>
<p>@Localizer["Explain1"]</p>
